{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
{% for item in posts %}
<div class="container">
    <div class="col-md-11">
        <div class="card mb-3">
            <div class="card-body">
                <div class="media">
                    <div class="media-body">
                        {% if item.photo %}
                        <img src="{{ item.photo.url }}" alt="" width="200px" class="mr-3">
                        {% else %}
                        <img src="https://ucarecdn.com/2c4f81e4-d18c-4aec-aa63-3994c554f1ea/"
                             alt="" class="mr-3">
                        {% endif %}
                        <h3 class="card-title">{{ item.theme }}</h3>
                        <p class="card-text">{{ item.content|linebreaks|truncatewords:15 }}</p>
                        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                {{ item.create_date|date:"Y-m-d H:i"}}</br>Author: {{ item.user }}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
